@charset "utf-8";

@font-face {
  font-family: "pre-Black";
  src: url("./assets/font/Pretendard-Black.otf");
}
@font-face {
  font-family: "pre-Bold";
  src: url("./assets/font/Pretendard-Bold.otf");
}
@font-face {
  font-family: "pre-ExtraBold";
  src: url("./assets/font/Pretendard-ExtraBold.otf");
}
@font-face {
  font-family: "pre-Light";
  src: url("./assets/font/Pretendard-Light.otf");
}
@font-face {
  font-family: "pre-Medium";
  src: url("./assets/font/Pretendard-Medium.otf");
}
@font-face {
  font-family: "pre-Regular";
  src: url("./assets/font/Pretendard-Regular.otf");
}
@font-face {
  font-family: "pre-SemiBold";
  src: url("./assets/font/Pretendard-SemiBold.otf");
}
@font-face {
  font-family: "pre-Thin";
  src: url("./assets/font/Pretendard-Thin.otf");
}
@font-face {
  font-family: "pre-ExtraLight";
  src: url("./assets/font/Pretendard-ExtraLight.otf");
}
@font-face {
  font-family: "PM";
  src: url("./assets/font/PermanentMarker-Regular.ttf");
}

* {
  font-family: "pre-Medium", sans-serif;
  color: #222;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
.main {
  display: flex;
  align-items: center;
  height: 100vh;
}
.right {
  flex: 1;
  /* height: 100%; */
  padding: 40px;
}
