header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  background: #fff;
  box-shadow: 2px -8px 12px black;
}
.logo {
}
.logo_text {
  margin-left: 15px;
  font-size: 20px;
  color: #201f5a;
  font-family: "pre-Black", sans-serif;
}
